<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question papers</title>
    <!-- <link href="./dist/output.css" rel="stylesheet" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body
    class="min-h-screen flex flex-col bg-gradient-to-br from-slate-800 via-slate-700 to-slate-900"
  >
    <div class="container mx-auto px-4 py-8">
      <h2 class="text-3xl font-bold text-white mb-8 text-center drop-shadow-lg">
        {{ standard }} Question Papers
      </h2>
      <div class="border-b border-white/30 mb-2"></div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-4">
        <!-- Question Paper Card 1 -->
        {% if question_papers %} {% for question_paper in question_papers %}
        <div
          class="bg-white rounded-xl shadow-2xl overflow-hidden transform hover:scale-105 transition-transform duration-300"
        >
          <div class="p-6">
            <div class="flex items-center justify-between mb-4">
              <h3 class="text-xl font-semibold text-slate-800">
                {{ question_paper[4] }}
              </h3>
            </div>
            <p class="text-slate-600 mb-4">
              <i class="far fa-calendar-alt mr-2 text-green-600"></i>
              {{ question_paper[3] }}
            </p>
            <form
              action="{{ url_for('download_child_question_paper', question_paper_id = question_paper[0]) }}"
            >
              <button
                class="w-full bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition-colors duration-300 flex items-center justify-center font-medium shadow-lg"
              >
                <i class="fas fa-download mr-2"></i>
                Download Paper
              </button>
            </form>
          </div>
        </div>
        {% endfor %} {% else %}
        <h1
          class="text-3xl font-bold text-white mb-8 text-center drop-shadow-lg"
        >
          No Question Papers Found...
        </h1>
        {% endif %}
      </div>
    </div>
  </body>
</html>
